keybinds {
    unbind "Ctrl g" // unbind in all modes so we don't conflict with neovim
    locked {
        bind "Insert" { SwitchToMode "Normal"; }
    }
    shared_except "locked" {
        bind "Insert" { SwitchToMode "Locked"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}
